.content_card {
  position: relative;
  background: rgba(141, 141, 141, 0.699);
  border-radius: 0.3rem;
  border: 0.2rem solid #d3d3d3;
  padding:  0 0.8rem;
  overflow: scroll;

  margin: 0.5rem;
  max-height: 15rem;
  width: 15rem;
}

.content_card h1 {
  animation: fade 0.7s ease-in;
  color: white;
  margin: 0.5rem 0 2rem 0;
}

.content_card p {
  color: antiquewhite;
  font-family: equinox-bold;
  animation: fade 0.5s ease-out;
  animation: fade 0.5s ease-in;
}

.content_card button {
  cursor: pointer;
  background: url('../../Icons/deathstar-white.svg') no-repeat;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  width: 2rem;
  height: 2rem;
}
.content_card button:hover {
  background: url('../../Icons/deathstar-black.svg') no-repeat;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.favorite {
  background: rgb(86, 90, 94);
}

.favorite button {
  background: url('../../Icons/deathstar-black.svg') no-repeat;
}

.favorite button:hover {
  background: url('../../Icons/deathstar-white.svg') no-repeat;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .content_card {
    margin: 0.5rem 0;
  }
}