.content_card h1 {
  animation: fade 0.7s ease-in;
  color: white;
  margin: 0.5rem 0 2rem 0;
}

.content_card p {
  color: antiquewhite;
  font-family: equinox-bold;
  animation: fade 0.5s ease-out;
  animation: fade 0.5s ease-in;
}

.content_card {
  margin: 0.5rem;
  width: 15rem;
}

.favorite {
  background-color: aqua;
}

.favorite button {
  background: url('../../Icons/deathstar-black.svg') no-repeat;
}

.favorite button:hover {
  background: url('../../Icons/deathstar-white.svg') no-repeat;
}

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.favorite {
  background-color: aqua;
}

.favorite button {
  background: url('../../Icons/deathstar-black.svg') no-repeat;
}

.favorite button:hover {
  background: url('../../Icons/deathstar-white.svg') no-repeat;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .content_card {
    width: 100%;
    margin: 0.5rem 0;
  }
}