.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.favorites .previous-page-button,
.favorites .next-page-button { 
  display: none;
}

.previous-page-button,
.next-page-button {
  cursor: pointer;
  position: absolute;
  opacity: 0.8rem;
  top: 15rem;
  border: none;
  height: 8rem;
  width: 10rem;
}

.next-page-button {
  background: url("../../Icons/red-saber.svg") no-repeat center / 25%;
  position: fixed;
  right: 1rem;
}

.next-page-button:hover {
  transform: rotate(45deg);
  transition: all 0.5s linear;
}

.previous-page-button {
  background: url("../../Icons/green-saber.svg") no-repeat center / 25%;
  position: fixed;
  left: 1rem;
  transform: rotate(-90deg);
}

.previous-page-button:hover {
  transform: rotate(-135deg);
  transition: all 0.5s linear;
}

.empty-fav {
  color: rgb(24, 133, 223);
  letter-spacing: 3px;
  margin: 3rem;
}

