.card_container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: center;
  animation: bazinga 1.5s ease-in;
  animation: bazinga 1.5s ease-out;
  margin: auto;
  width: 50rem;
}

.previous-page-button,
.next-page-button {
  top: 1rem;
  opacity: 0.8rem;
  cursor: pointer;
}

.next-page-button {
  background: url("../../Icons/red-saber.svg") no-repeat center / 25%;

  border: none;
  height: 8rem;
  width: 10rem;
  position: fixed;
  top: 30rem;
  right: 1rem;


}

.next-page-button:hover {
  transform: rotate(45deg);
  transition: all 0.5s linear;
}

.previous-page-button {
  background: url("../../Icons/green-saber.svg") no-repeat center / 25%;
  border: none;
  height: 8rem;
  width: 10rem;
  position: fixed;
  top: 30rem;
  left: 1rem;
  transform: rotate(-90deg);
}

.previous-page-button:hover {
  transform: rotate(-135deg);
  transition: all 0.5s linear;
}

@keyframes bazinga {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 860px) {
  .card_container {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
  }
}

@media only screen and (max-width: 550px) {
  .card_container {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
  }
}
