.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.previous-page-button,
.next-page-button {
  cursor: pointer;
  position: absolute;
  opacity: 0.8rem;
  top: 4rem;
}

.next-page-button {
  right: 10rem;
}

.previous-page-button {
  left: 10rem;
}