@import url("https://fonts.googleapis.com/css?family=Cinzel");

.App {
  margin: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.App__TITLE {
  border: 0.2rem solid #9c816b;
  border-radius: 0.4rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 16.5rem;
}

.App__TITLE h1 {
  color: #9c816b;
  font-size: 2.5rem;
  font-family: "Cinzel", "STJEDISE", serif;
  text-align: center;
  margin: 0;
}

.planets {
  background: url(../../images/BattleFront.jpg) no-repeat;
}

.people {
  background: url(../../images/sw-people.jpg) no-repeat;
}

.vehicles {
  background: url(../../images/star-wars-droid.jpg) no-repeat;
}


