@import url('https://fonts.googleapis.com/css?family=Cinzel');

.App {

}

.App__TITLE {
  border: 0.2rem solid #9C816B;
  border-radius: 0.4rem;
  color: #9C816B;
  font-size: 3rem;
  font-family: 'Cinzel', 'STJEDISE', serif;
  margin: 2rem auto;
  padding: 1rem;
  width: 16.5rem;
}