.navigation_bar {
  display: flex;
  background: rgba(61, 61, 61, 0.6);
  flex-wrap: wrap;
  justify-content: space-around;
  position: sticky;
  top: 0rem;
  z-index: 10;
}

.CONTAINER {
  margin: 1rem 0;
}

.NAV {
  color: white;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1.5px 1.5px 1.5px transparent;
  border: 0.1rem solid rgb(111, 118, 104);
  border-radius: .5rem;
  font-size: 2rem;
  font-family: equinox;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 0.6rem;
}

.NAV:hover {
  background: rgb(117, 116, 116);
  box-shadow: 1.5px 1.5px 1.5px #ccc;
  font-family: equinox-bold;
}

.active {
  background: silver;
}

@media only screen and (max-width: 400px) {
  .navigation_bar {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .CONTAINER {
    margin: 0.6rem 0;
  }
  .NAV {
    font-size: 1rem;
  }
}
