.navigation_bar {
  display: flex;
  background: rgba(61, 61, 61, 0.6);
  flex-wrap: wrap;
  justify-content: space-around;
  position: sticky;
  top: 0rem;
  z-index: 10;
}

.CONTAINER {
  margin: 1rem 0;
}

.NAV {
  color: white;
  background: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid rgb(111, 118, 104);
  box-shadow: 1.5px 1.5px 1.5px transparent;
  border-radius: 3px;
  font-size: 2rem;
  font-family: equinox;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 0.6rem;
}

.planets__NAV:hover {
  font-family: equinox-bold;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ccc;

  background-color: rgb(92, 59, 59);
}

.people__NAV:hover {
  font-family: equinox-bold;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ccc;

  background-color: rgb(92, 59, 59);
}

.vehicles__NAV:hover {
  font-family: equinox-bold;
  box-shadow: 1px 1px 1px 1px gray;

  background-color: rgb(92, 59, 59);
}

.navigation_bar {
  display: flex;
  justify-content: space-around;
  animation: bazinga;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
}

.pressed {
  background: purple;
}

a {
  width: 5rem;
}

.planets__CONTAINER,
.people__CONTAINER,
.vehicles__CONTAINER,
.favorites__CONTAINER {
  margin: 1rem 0;
}

/* .people__CONTAINER {
}
.vehicles__CONTAINER {
} */
