@font-face {
  font-family: "STJEDISE";
  src: url("./fonts/STJEDISE.TTF");
}

@font-face {
  font-family: equinox-bold;
  src: url("./fonts/Equinox Bold.otf");
}

@font-face {
  font-family: equinox;
  src: url("./fonts/Equinox Regular.otf");
}

body {
  background-color: #2d2d2d;
  font-family: equinox-bold;
  margin: 0;
  padding: 0;
}
